<h1>Preview</h1>


<%= form_for @post, url: wizard_path do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :thumbnail_url, :type => "hidden"   %>
  </div>
  <div class="field">
    <%= f.text_area :embed_code, :style => "display:none;"  %>
  </div>
  <div class="field">
    <%= f.text_field :media_type, :type => "hidden"  %>
  </div>
  <div class="field">
    <%= f.text_area :meta_tags, :style => "display:none;"  %>
  </div>
  <div class="field">
    <%= f.text_field :domain, :type => "hidden"  %>
  </div>
  <div class="field">
    <%= f.text_field :media_provider, :type => "hidden"  %>
  </div>
  <div class="field">
    <%= f.text_field :author, :type => "hidden"  %>
  </div> 

   <div class="actions">
    <%= f.submit "Post", :class => "large button centered" %>
  </div>


  <% end %>