<h1>Editing <%= @user.username %> <small><%= link_to 'View profile', user_path(@user) %></small></h1>


<%= form_for(@user, url: user_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.text_field :name, :placeholder => "Enter your Name"  %>
  </div>
  
  <div class="field">
    <span class="th">
  	<%= image_tag(@user.avatar) %>
  	 </span>
     <br/>
    <%= f.file_field :avatar  %>
  </div>

  <div class="field">
        <%= f.text_field :showreel, :placeholder => "Enter a youtube or vimeo link your video"  %>
  </div>

  <div class="field">
    <%= f.text_area :bio, :placeholder => "Tell us more about you"  %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", :class => " button" %>
  </div>
<% end %>

<%= link_to 'Back', user_path(@user) %>