<p id="notice"><%= notice %></p>


<div class="row">
	<div class="nine columns push-three">
			<h1><%= @user.name %> 
			<% if current_user %>
			<% if current_user.id == @user.id %>
				<small><%= link_to 'Edit Profile', edit_user_path(@user.username) %></small></h1>
				<% end %>
			<% end %>
			<p class="panel"><%= @user.bio %></p>
	</div>
	

	<div class="three columns pull-nine th" >
  		<%= image_tag @user.avatar %>
	</div>
		
	
</div>

<div class="row">
	<div class="12 columns">
		<h2>Posts</h2>
		<% @user.posts.each do |post| %>


	<h3><%= link_to 'View Post', post %> <small>via <%= post.user_id %></small></h3>
      </div>
    </div>

    <div class="row">

      <div class="panel six columns push-six ">
        Content info.
      </div>

      <div class="content six columns pull-six">
       <%= link_to post.title, post.link %>
      </div>
      

    </div>
    <hr>
		<% end %>
	</div>
</div>


