	<p id="notice"><%= notice %></p>

	<script type="text/javascript">
		  $(document).ready(function() {
		    $("#buttonForModal").click(function() {
		      $("#myModal").reveal();
		    });
		  });
	</script>

<div class="row">
	<div class="nine columns push-three">
			<h1><%= @user.name %> 
			<% if current_user %>
			<% if current_user.id == @user.id %>
				<small><%= link_to 'Edit Profile', edit_user_path(@user.username), :class => "radius button tiny secondary" %></small></h1>
				<% end %>
			<% end %>
			<p class="panel"><%= @user.bio %></p>
			<a href="#" class="button " data-reveal-id="showReel">Play Show Reel</a>
	</div>
	<div class="three columns pull-nine th" >
  		<%=	image_tag @user.avatar %>
	</div>

	

	<div id="showReel" class="reveal-modal large">
	  <h2>My Amazign Show Reel</h2>
	  <div class="content flex-video">
	  	<%= link_to @user, @user.showreel %>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>



</div>
	
<div class="row">
<hr/>
<div class="left three columns"></div>
<div class="right nine columns">
	<dl class="tabs">
	  <dd class="active"><a href="#simple1">Posts</a></dd>
	  <dd><a href="#simple2">Favorites</a></dd>
	</dl>

	<ul class="tabs-content ">
	  <li class="active" id="simple1Tab">
	  


		<% @user.posts.each do |post| %>
			<header>
				<h3><%= link_to post.title, post %> </h3>
			</header>
			<article class="row">
				<section class="content left three columns">
					
					<%= link_to image_tag(post.thumbnail_url), post, { :class => "th"} %>
					
				</section>
				<section class="right nine columns">
				    <p class="panel">
				        <%= post.description %>
				    </p>
				    <%= link_to "Favourite", favourites_path(post_id: post.id),  {:method => :post, :class => "radius button small right secondary"} if user_signed_in? %>
			    </section>
			   
			</article>
			 <hr>
		<% end %>
		
	  </li>
	  <li id="simple2Tab">
	  	<% @user.favourites.order("created_at desc").each do |fav| %>
	  
	  		<header>
				<h3><%= link_to fav.post.title, fav.post %> <small>via <%= fav.post.user_id %></small></h3>
			</header>

	  		<article class="row">
				<section class="content left three columns">
					<%= link_to image_tag(fav.post.thumbnail_url), fav.post, { :class => "th" } %>
				</section>
			
			<section class="nine columns right">
			        <p class="panel">
			        	<%= fav.post.description %>
			        </p>
			</section>
			<br />
		</article>
			<hr>
		<% end %>
	  </li>
	</ul>
</div>
</div>



