<p id="notice"><%= notice %></p>


<div class="row">
	<div class="nine columns push-three">
			<h1><%= @user.name %> 
			<% if current_user %>
			<% if current_user.id == @user.id %>
				<small><%= link_to 'Edit Profile', edit_user_path(@user.username) %></small></h1>
				<% end %>
			<% end %>
			<p class="panel"><%= @user.bio %></p>
	</div>
	<div class="three columns pull-nine th" >
  		<%= image_tag @user.avatar %>
	</div>
</div>
<hr/>


<dl class="tabs">
  <dd class="active"><a href="#simple1">Posts</a></dd>
  <dd><a href="#simple2">Favorites</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="simple1Tab">
  	
	<% @user.posts.each do |post| %>
			<header>
			<h3><%= link_to post.title, post %> <small>via <%= post.user_id %></small></h3>
			</header>

			<div class="content left six columns">					
				<%= link_to post.title, post.link %>
			</div>

		    <section class="panel six columns right">
		        Content info.
		    </section>
		    <hr>
	<% end %>
	
  </li>
  <li id="simple2Tab">
  	Favorites in here



  </li>
</ul>




