<h1>Recent posts</h1>

<script type="text/javascript">
      $('document').ready(function(){
        $('div.content').embedly({
          maxWidth: 450,
          wmode: 'transparent',
          method: 'replace',
          key:':d71f38d2305e11e1b6634040d3dc5c07'
        });
      });
</script>


<ul class="accordion">
    <% @posts.each do |post| %>
  <li class="active">
    <div class="title">
      <h5><%= post.link %></h5>
    </div>
    <div class="content">
     <%= link_to post.link, post.link %>
    <p><%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    </div>
  </li>
  <% end %>
</ul>

