  <h1>Recent posts</h1>

<script type="text/javascript">
 
</script>


<ul class="accordion">
    <% @posts.each do |post| %>
  <li class="active">
    <div class="title">
      <h5><%= post.title %></h5>
    </div>
    <div class="content">
     <%= link_to post.title, post.link %>
    <p><%= link_to 'Title of Link', post %></p>

    <p>via <%= post.user_id %></p>  

    <p><%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    </div>
  </li>
  <% end %>
    
</ul>

