<h1>Recent posts</h1>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="12 columns">
        <h3><%= link_to post.title, post %> <small>via <%= link_to post.user.name, profile_path(post.user) %></small></h3>
      </div>
    </div>

    <div class="row">

      <div class="panel six columns push-six ">
        Content info.
      </div>

      <div class="content six columns pull-six">
       <%= link_to post.title, post.link %>
      </div>

      <%= link_to "Add to favorites", favourites_path(post_id: post.id),  {:method => :post, :class => "button small right"} if user_signed_in? %>
      

    </div>
  
  <% end %>
  <hr>

    <%= paginate @posts %>

    <hr>
