<div class="row">
<h1>Recent posts</h1>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="12 columns">
        <h3><%= link_to post.title, post %> <small>via <%= link_to post.user.name, profile_path(post.user) %></small></h3>
      </div>
    </div>

    <div class="row">

      <div class="panel six columns push-six ">
        <%= post.description %>
      </div>

    <!--   <div class="content six columns pull-six">
       <%= link_to post.title, post.link %>
      </div> -->

      <div class=" six columns pull-six">
       <%= link_to image_tag(post.thumbnail_url), post %>
      </div>


      <%= link_to "Favorite", favourites_path(post_id: post.id),  {:method => :post, :class => "radius button small secondary right"} if user_signed_in? %>
      

    </div>
    <hr>
  
  <% end %>
  

    <%= paginate @posts %>

  <hr>
</div>