<p id="notice"><%= notice %></p>


<div class="content flex-video">

<%= link_to @post.link, @post.link %>

</div>

<p>via <%= link_to @post.user.username, profile_path(@post.user.username) %></p>

<!-- <p>
  <b>Thumbnail url:</b>
  <%= @post.thumbnail_url %>
</p>

<p>
  <b>Embed code:</b>
  <%= @post.embed_code %>
</p>

<p>
  <b>Media type:</b>
  <%= @post.media_type %>
</p>

<p>
  <b>Meta tags:</b>
  <%= @post.meta_tags %>
</p>

<p>
  <b>Domain:</b>
  <%= @post.domain %>
</p>

<p>
  <b>Media provider:</b>
  <%= @post.media_provider %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p> -->

<% if current_user %>
  <% if current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post.url) %> |
      <%# link_to 'Destroy', delete_post_path(@post.url), method: :delete, data: { confirm: 'Are you sure?' } %> 
  <% end %>
<% end %>

<h3>Comments</h3>
  
<%# render :partial => 'comments/form', :locals => {:commentable => @post} %>


<%= link_to 'Back', posts_path %>
