<p id="notice"><%= notice %></p>
<script type="text/javascript">
      $('document').ready(function(){
        $('div.content').embedly({
          maxWidth: 450,
          wmode: 'transparent',
          method: 'replace',
          key:':d71f38d2305e11e1b6634040d3dc5c07'
        });
      });
</script>


<div class="content flex-video">
  <%= link_to @post.link, @post.link %>
</div>

<!-- <p>
  <b>Thumbnail url:</b>
  <%= @post.thumbnail_url %>
</p>

<p>
  <b>Embed code:</b>
  <%= @post.embed_code %>
</p>

<p>
  <b>Media type:</b>
  <%= @post.media_type %>
</p>

<p>
  <b>Meta tags:</b>
  <%= @post.meta_tags %>
</p>

<p>
  <b>Domain:</b>
  <%= @post.domain %>
</p>

<p>
  <b>Media provider:</b>
  <%= @post.media_provider %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p> -->


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
